<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="inside::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		
		<div th:if="${session.message}" class="container text-center">
		 <div  th:classappend="${'alert-'+session.message.type}" class="alert " role="alert">
  <span th:text="${session.message.content}"></span>
</div>	
<th:block th:text="${@sessionhelper.removeMessageFromSession()}"></th:block>
		</div>
		 
				<div class="container text-center">
			<img style="height: 200px; width: 200px; "class="my_profile_picture" th:src="@{'/img/contact_logo.png'}                  ">
		</div>
	<div class="text-center mt-3 text-secondary font-italic">
		<h1> Hello <span class="text-uppercase" th:text="${user.name}"></span></h1>
	<h2 >Start addding your contact on cloud in a smart way...</h2>
	<a th:href="@{/user/contact}" class="btn btn-primary">ADD CONTACTS</a>
	</div>

	<script>

		$(document).ready(()=>{
			$(".item").removeClass("activeone");
			$("#home").addClass("activeone");
		});
		</script>
		
	</section>

		
</body>
</html>