<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8"   />
	<title th:tex></title>
</head>
<body>
	<section>
		 <div id="login">
       
        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
						<div th:if="${session.message}" class="container text-center">
		 <div  class="alert alert-danger " role="alert">
  <span th:text="${session.message}"></span>
</div>	
<th:block th:text="${@sessionhelper.removeMessageFromSession()}"></th:block>
		</div>
						 <h3 class="text-center text-black pt-5">Your registered email</h3>
						 <form  method="post" th:action="@{/send-otp}"
						  class="text-center mt-3">
							 
							 
							 <div class="form-group">
								 <input  name="email" required type="email" placeholder="enter your email address"  />
							 </div>
							 <div class="container text-center mt-3">
								 
								 <button class="btn btn-warning">send otp</button>
							 </div>
						 </form>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
		
		
	</section>
	
</body>
</html>