<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="inside::layout(~{::section})" >
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		
		<div class="card MR-3">
			<div class="card-body mr-3">
				<h1 class="text-center">YOUR CONTACTS</h1>
				<div class="search-container my-4">
					<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="search your contact here" />
				<div class="search-result">
					<h1>this is result</h1>
				</div>
				</div>
				<div class="table-responsive">
					
				
				<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
 
    </tr>
  </thead>
  <tbody>
    <tr th:each="c:${contacts}">
      <th scope="row" th:text="${'SCM'+c.cid}">1</th>
      <td >
		   <span th:text="${c.name}">(<span th:text="${c.secondname}"></span>)</span></td>
      
      
      <td  >
		  <a href="#" th:href="@{'/user/contact/'+${c.cid}}">
		  <span th:text="${c.email}">
			  </a>
		  </span></td>
      <td th:text="${c.phone}">@mdo</td>
       <td >
	<a href="#" th:onclick="|deleteContact(${c.cid})|" class="btn btn-danger btn-sm">Delete</a>
		  
		 <form method="post" th:action="@{'/user/update-contact/'+${c.cid}}" class="mt-2">
									<button type="submit" class="btn btn-primary btn-sm">Update</button>
								</form>
		     
	   </td>
    </tr>
 
  </tbody>
</table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
	      <li th:if="${currentpage !=0}"  class="page-item"><a class="page-link" th:href="@{'/user/showcontacts/'+${currentpage-1}}" href="#">previous</a></li>
    <li th:classappend="${currentpage==i-1?'active':''}" th:each="i:${#numbers.sequence(1,totalpages)}" class="page-item"><a class="page-link" th:href="@{'/user/showcontacts/'+${i-1}}"><span th:text="${i}"></span></a></li>


    <li th:if="${currentpage+1 !=totalpages}" class="page-item"><a class="page-link" th:href="@{'/user/showcontacts/'+${currentpage+1}}" href="#">Next</a></li>
  </ul>
</nav>
				
			</div>
		</div>
		<script>

		$(document).ready(()=>{
			$(".item").removeClass("activeone");
			$("#view-contact").addClass("activeone");
		});
		</script>
		
	</section>
	</section>
</body>
</html>